<h1>Tweets <%= @client %></h1>

<% if @clients %>
	<% @clients.each do |object| %>
	  
	    
	    <% if object.is_a?(Twitter::Tweet) %>
	      <p><%= object.text %></p>
	    <% else %>
	      <p><%= object.tweet %></p>
	    <% end %>
	<% end %>
<% end %>

